{:server {:hostname "0.0.0.0"
          :port 8080
          :allowed-origins #resource-config/edn #resource-config/env "ALLOWED_ORIGINS"}
 :rabbitmq {:connection {:host #resource-config/env "RABBITMQ_PORT_5672_TCP_ADDR"
                         :port #resource-config/edn #resource-config/env "RABBITMQ_PORT_5672_TCP_PORT"}
            :queues {"election-mail-http-api.ok" {:exclusive false :durable true :auto-delete false}
                     "election-mail-works.mailing.forms" {:exclusive false :durable true :auto-delete false}
                     "election-mail-works.subscription.read" {:exclusive false :durable true :auto-delete false}
                     "election-mail-works.subscription.create" {:exclusive false :durable true :auto-delete false}
                     "election-mail-works.subscription.delete" {:exclusive false :durable true :auto-delete false}}}
 :timeouts {:mailing-forms 20000
            :subscription-read 10000
            :subscription-create 10000
            :subscription-delete 10000}}
