{:server {:hostname "0.0.0.0"
          :port 8080
          :allowed-origins #resource-config/edn #resource-config/env "ALLOWED_ORIGINS"}
 :rabbitmq {:connection {:host #resource-config/env "RABBITMQ_PORT_5672_TCP_ADDR"
                         :port #resource-config/edn #resource-config/env "RABBITMQ_PORT_5672_TCP_PORT"}
            :kehaar {:incoming-services
                     [{:queue "election-mail-http-api.ok"
                       :f election-mail-http-api.handlers/ok
                       :response true
                       :threads 2
                       :prefetch-limit 2}]

                     :external-services
                     [{:queue "election-mail-works.mailing.forms"
                       :channel election-mail-http-api.channels/mailing-forms
                       :response true
                       :timeout 40000}
                      {:queue "election-mail-works.subscription.read"
                       :channel election-mail-http-api.channels/subscription-read
                       :response true
                       :timeout 40000}
                      {:queue "election-mail-works.subscription.create"
                       :channel election-mail-http-api.channels/subscription-create
                       :response true
                       :timeout 40000}
                      {:queue "election-mail-works.subscription.delete"
                       :channel election-mail-http-api.channels/subscription-delete
                       :response true
                       :timeout 40000}]}}

 :timeouts {:mailing-forms 40000
            :subscription-read 40000
            :subscription-create 40000
            :subscription-delete 40000}}
